.hero {
    display: flex;
    flex-direction: column;
    padding: 0 32px;
    padding-top: 126px;
}



.hero__content {
    text-align: center;
}

.hero__title {
    font-weight: 700;
    font-size: 28px;
    font-size: clamp(20px, 7.12468vw, 40px);
    color: var(--color-brand);
}

.hero__subtitle {
    font-weight: 400;
    font-size: 15px;
    font-size: clamp(13px, 4vw, 15px);
    color: var(--color-text-base);
    margin-top: 8px;
    margin-bottom: 47px;
}

.hero__media {
    text-align: center;
}

.hero__img {
    background: url(../assets/images/hero-rocket-purple.png) center/contain no-repeat;
    width: 100%;
    width: clamp(200px, 67.433vw, 90%);
    aspect-ratio: 1 / 1;
    margin: auto;

}


.hero__cta-button {
    margin-top: 63px;
    width: 204px;
    border-radius: 10px;
    height: 42px;
    line-height: 42px;
    padding-right: 38px;
    padding-left: 38px;
    font-weight: 700;
    font-size: 16px;
    border: none;
    color: var(--color-button-primary);
    background: var(--color-brand);
    margin: 63px auto 47px;
}

.hero__cta-button--desktop {
    display: none;
}



@media screen and (min-width: 1200px) {
    .hero {
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        text-align: center;
        padding: 134px 126px 0 120px;
        gap: 107px;
    }



    .hero__content {
        width: 100%;
        text-align: right;
        padding-top: 71px;
        padding-top: 76px;
    }

    .hero__title {
        font-size: 48px;
    }


    .hero__subtitle {
        font-size: 28px;
        margin-top: 16px;
        margin-bottom: 42px;
        text-align: center;
    }


    .hero__img {
        width: 477px;
        max-width: 477px;
    }

    .hero__cta-button {
        width: 100%;
        max-width: 257px;
        height: 58px;
        margin: 0;
        padding: 8px 53px;
        font-size: 20px;
        margin-right: 7px;
    }


    .hero__cta-button--mobile {
        display: none;
    }

    .hero__cta-button--desktop {
        display: block;
    }




}