@import url('./fonts/yekanBakh.css');

:root {
  --color-text-base: #282828;
  --color-brand: #8A6EF8;
  --color-background: #fff;
  --color-button-primary: #fff;
  --font-main: "YekanBakh", sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: var(--font-main);
    color: var(--color-text-base);
}


a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button{
    font-family: inherit;
}

main {
    border-top-left-radius: 41px;
    border-top-right-radius: 41px;
    margin: auto;
}